

/* Proper css */
body {
    background: url('images/background.svg') no-repeat center center fixed;
    background-color: #25072e;
    background-size: cover;
    font-family: 'Open Sans', sans-serif, monospace;
}

ol, ul {
    list-style: none;
}

.page-header {
    position: fixed;
}

.page-brand__logo {
	margin: 50px 0 0 50px;
}

/* MENU STYLES */
.page-navigation {
  
}

.page-navigation__link {
    font-size: 13px;
    font-weight: 600;
	
    color: #ec008c;
	
    letter-spacing: 6.7px;
    text-decoration: none;
    text-transform: uppercase;
	
    opacity: 0.8;
}

.page-navigation__items {
    margin: 25px 0 0 50px;
}
.page-navigation__item {
    margin: 15px 0 0 0;
}

.page-content {
   max-width: 100vw;
   min-height: 100vh;
   margin: 0 50px 50px 258px;
}

.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.content-section {
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2%;
    text-align: right;
}

.content-section__header {
    text-transform: uppercase;
    color: #EF008E;
    font-weight: bold;
    padding-bottom: 2.5%;
    font-size: 28px;
    letter-spacing: 4.5px;
}

.button {
    background-color: rgba(204, 200, 255, 0.1);
    color:  rgba(204, 200, 255, 0.8);
    border: none;
    border-radius: 2px;
    padding: 8px;
    font-size: 12px;
    letter-spacing: 1.6px;
    font-weight: 600;
    cursor: pointer;
}

/* HOME STYLES */
.band-members {
    list-style-type: none;
    margin-top: 30vh;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.band-members__item {
    text-align: left;
    color: #CCC8FF;
    height: 100%;
    padding-bottom: 20px;
}

.band-members__item-image {
	max-width: 100%;
    opacity: 0.5;
}

.band-members__item-name {
    font-weight: bold;
    letter-spacing: 3.8px;
    color: #CCC8FF;
}
.band-members__item-desc {
    padding-top: 3%;
    letter-spacing: 3.6px;
    margin: 0;
    color: rgba(204, 200, 255, 0.5);
}

.desc-header {
    color: #ccc8ff;
    font-size: 15px;
    letter-spacing: 3.5px;
	text-transform: uppercase;
}

.desc-content {
	color: #ccc8ff;
	font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.5px;
	opacity: 0.7;
}

/* ABOUT STYLES */
.section-about {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 5vh;
}

.section-about__image {
	width: 100%;
    max-width: 790px;
    border-top: 3px #ec008c solid;
}

.section-about__desc {
	
	position: relative;
	
	max-width: 395px;
    min-height: auto;
	
	background: #25072e;
    border-bottom: 3px #ec008c solid;
	
	margin: 0 0 -245px 0;
    box-sizing: border-box;
    padding: 45px 35px;
	
	bottom: 245px;
    right: 690px;
	
	text-align: left;
}

/* Concerts block */
.section-concerts {
	display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.section-concerts-row {
	display: flex;
    justify-content: flex-end;
}

.section-concerts-row__item {
	margin-right: 50px;
	margin-bottom: 50px;
	margin-left: 50px;
}

.section-concerts-row__item-image {
	width: 100%;
    max-width: 360px;
    border-bottom: 3px #ec008c solid;
}

.section-concerts-row__item__label {
	display: flex;
    justify-content: space-between
}

.section-concerts-row__item__label-date {
	margin: 20px 0 0 0;
	text-align: left;
}

.section-concerts-row__item__label-location {
	margin: 8px 0 0 0;
}

.section-concerts-row__item__label-button {
	margin: 20px 0 0 20px;
    cursor: pointer;
}

.video {
    width: 100%;
}
.video iframe {
    width: 85%;
    height: 70vh;
}

.gallery {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 8%;
}
.gallery__item {
    box-sizing: border-box;
    width: 33.33%;
    min-width: 250px;
    padding: 2px 4px;
	margin-bottom: 20px;
}

.gallery__image {
    width: 100%;
    border-top: 3px #EF008E solid;
}

.contact {
    display: flex;
	flex-direction: column;
}

.contact-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10%;
}

.contact-image {
    width: 100%;
    max-width: 465px;
    margin: 0 80px 0 0;
}

.contact-info {
    line-height: 20px;
	text-align: left;
}

.contact-phone {
	font-style: normal;
}

.contact-mail {
	font-style: normal;
}

.contact-form {
    margin: 30px 685px 0 0;
}

.contact-form__item {
	text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	
	padding-bottom: 25px;
}

.contact-form__item_block {
	display: inline-block;
}

.contact-form__item_block-button {
	position: relative;
	left: 0;
}

.contact-form__item-label {
	margin-left: 15px;
}

.contact-form__item-input {
	margin-left: 15px;
	
	width: 300px;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 12px 10px 10px 10px;
    background: rgb(204, 200, 255, 0.1);
    text-transform: none;
}

.page-footer {
    position: fixed;
    bottom: 0;
}

.page-social-links {
	margin: 0 0 50px 50px;
}

.page-social-links__icon {
	margin: 15px 0 0 0;
}

.page-social-links__icon-content {
	display: block;
    width: 20px;
    height: 20px;
	
	/* Hacks */
	text-indent: -9999px;
}

/* Icons */
.facebook-icon {
	background: url(./images/fb.svg);
    background-size: 20px 20px;
    opacity: 0.8;
}
.instagram-icon {
    background: url(./images/insta.svg);
    background-size: 20px 20px;
    opacity: 0.8;
}

.last_fm-icon {
    background: url(./images/last.svg);
    background-size: 20px 20px;
    opacity: 0.8;
}

.youtube-icon {
    background: url(./images/yout.svg);
    background-size: 20px 20px;
    opacity: 0.8;
}

@media only screen and (max-width : 1450px)
{
	.section-about__desc {
		margin: 0 0 -10px 0;
		padding: 5px 5px;
		
		bottom: 0;
		right: 0;
		margin-bottom: 250px;
	}
	
	.section-about {
		margin-bottom: -25vh;
	}
}


@media only screen and (max-width : 800px) 
{ 
	.page-content {
	   max-width: 100vw;
	   min-height: 100vh;
	   margin: 0 50px 50px 10px;
	}

	.page-header 
	{
		position: relative;
		left: 20%;
	}
	
	.page-footer 
	{
       position: relative;
	   left: 20%;
    }
	
	.band-members {
		margin-top: 15vh;
		justify-content: center;
		align-content: center;
	}
	
	.section-concerts-row {
		flex-direction: column;
		justify-content: center;
	}
	
	.video iframe {
        width: 100%;
        height: 40vh;
    }
	
	.gallery {
        justify-content: center;
        margin: 0 auto;
        padding: 0;
    }
    .gallery__item {
        width: 50%;
    }
}

@media only screen and (max-width : 532px) {
    .gallery__item {
        width: 100%;
    }
}