
body
{
    background-image: url("./images/background.svg");
    background-attachment: fixed;
    padding: 0.5%;
    margin-left:1%;

    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.6px;
    color: #ccc8ff50;
}

.page-brand
{
    text-align: left;
}

ul, li * {
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    color: #ec008c;
}

.content-section__header {
    text-align: right;
}
.page-header
{
    position: fixed;
    top: 50px;
    left: 50px;
}

.page-content
{
   position: relative;
   margin-left: 250px;
   min-height: 100vh;
   max-width: 60vw;
   left: 25%;
}

.band-members__item
{
    display: inline-block;
}

.concerts, .gallery 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.concerts__item , .gallery__item
{
    padding-right: 60px;
}


.concerts__image 
{
    width: 480px;
    height: 320px;
}

.gallery__image
{
    height: 260px;
}

.form_photo
{
    height:800px;

}

.page-footer
{
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.social-links
{
    text-align: left;
}

.contact {
    display: flex;
    flex-wrap: wrap;
}

.contact img {
    width: 50%;
    height: 512px;
}

.contact address {
    width: 50%;
    align-self: center;
    vertical-align: center;
}

.contact .form {
    padding-top: 25px;
}

.button
{
    font-size: 12px;
    font-weight: 450;
}

.form__field {
    padding-bottom: 15px;
}

.form__input 
{
    display:block;
    padding-bottom: 5px;
}

.form__label
{
 
}