.page-brand
{
    text-align: left;
}

ul, li {
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.6px;
}

.content
{
    min-height: 100vh;
}

.page-header
{
    position: fixed;
    top: 20px;
    left: 20px;
}

.page-content
{
   position: relative;
   left: 25%;
   margin-left: 220px;
   height: min-height;
}

.page-footer
{
    position: fixed;
    top: 80vh;
    left: 20px;
}

.social-links
{
    text-align: left;
}